<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav class="sidenav" mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <div class="icon-wrapper">
          <mat-icon>admin_panel_settings</mat-icon>
        </div>
        <div class="title-wrapper">
          <span>Admin</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="icon-wrapper">
          <mat-icon>dashboard</mat-icon>
        </div>
        <div class="title-wrapper">
          <span>Core</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="icon-wrapper">
          <mat-icon>list</mat-icon>
        </div>
        <div class="title-wrapper">
          <span>Procurement</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="icon-wrapper">
          <mat-icon>inventory_2</mat-icon>
        </div>
        <div class="title-wrapper">
          <span>Inventory</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="icon-wrapper">
          <mat-icon>support</mat-icon>
        </div>
        <div class="title-wrapper">
          <span>Manufacture</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="icon-wrapper">
          <mat-icon>shopping_cart</mat-icon>
        </div>
        <div class="title-wrapper">
          <span>Sales</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="icon-wrapper">
          <mat-icon>currency_exchange</mat-icon>
        </div>
        <div class="title-wrapper">
          <span>Finance</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="icon-wrapper">
          <mat-icon>business</mat-icon>
        </div>
        <div class="title-wrapper">
          <span>Assets</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="icon-wrapper">
          <mat-icon>language</mat-icon>
        </div>
        <div class="title-wrapper">
          <span>Services</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="icon-wrapper">
          <mat-icon>supervisor_account</mat-icon>
        </div>
        <div class="title-wrapper">
          <span>CRM</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="icon-wrapper">
          <mat-icon>trending_up</mat-icon>
        </div>
        <div class="title-wrapper">
          <span>Analytics</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="icon-wrapper">
          <mat-icon>list</mat-icon>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content class="content">
    <app-user-table></app-user-table>
  </mat-sidenav-content>
</mat-sidenav-container>